*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

.clear-fix{
    clear: both;
}
.container{
    width: 80%;
    margin: auto;
    
}

/* first section style */

.flt{
    float: left;
    width: 50%;
}

.paragraph{
    
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 10px;
}

.paragraph h3{
    font-weight: 900%;
    font-size: 50px;
    margin-bottom: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.paragraph p{

    padding-bottom: 30px;
    font-weight: 30;
    font-family: monospace;


}

.paragraph button{
    padding: 15px 30px;
    cursor: pointer;
    background-color: #E55473;
    color: white;
}

.picture img{
    padding-top: 40px;
    height: 600px;
    width: 400px;
    
    
}
.picture{
    text-align: center;
}
/* ! first section style */

/* second section style*/
.container h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    text-align: center;
    
    
}
.sec-2{
    padding-top: 50px;
    padding-bottom: 50px;
}
.heading p{
    margin-top: 10px;
    text-align: center;
    font-size: 1opx;
    margin-bottom: 40px;
}

.item img{
    height: 300px;
    width: 250px;
    margin-top: 40px;
}

.item {
    float: left;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 50px;
}
.item-a{
    width: 30%;
    background-color: blanchedalmond;
    

}
.item-c{
 width: 30%;
 background-color: beige;
}

.item-b{
   
    width: 40%;
    background-color: aliceblue;
    
    
}
.item h6{
    text-decoration: underline;
}
/* second section style ens*/

/* third section style starts */

.sec-3{
    margin-top: 50px;
    margin-bottom: 50px;
}
.items{
    float:left ;
    text-align: center;
    background-color: #BEE49D;
    padding: 30px 0;
}
.items-a{
    width: 30%;
    

}
.items-b{
    width:40%
}
.items-c{
    width: 30%;
}
.sec-3 h3{
    padding: 10px 0;
}
/* third section style ends */

/* fourth section style starts*/
.sec-4{
    padding: 60px 0;
}
.sec-4item{
    float: left;
    
}
.Fitem-a{
    width: 65%;
    padding-top: 50px;
    text-align: center;
}
.Fitem-b{
    width: 35%;
}

.Fitem-a h2{
    padding: 20px 0;
}
.Fitem-a p{
    padding: 20px 0;
}
.Fitem-a button{
    padding: 15px 30px;
    background-color: #E55473;
}


/* fourth section style ends */

/* fifth section style starts */
.sec-5{
    padding: 50px 0;

}
.heading-part5 p{
    text-align: center;
    padding: 15px 0;
}

.five-cards{
    float: left;
    width: 25%;
}




/* fifth section style ends */

/* six section style starts */
.sec-6 {
   background-image: url("../pic/Rectangle\ 9.png");
   padding: 100px 0;
   text-align: center;
}
.sec-6 h1{
    padding: 20px 0;
}

.sec-6 p{
    padding-bottom: 20px;
}
/* six section style ends */