*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

.clear-fix{
    clear: both;
}
.container{
    width: 80%;
    margin: auto;
    
}

/* first section style */

.flt{
    float: left;
    width: 50%;
}

.paragraph{
    
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 10px;
}

.paragraph h3{
    font-weight: 900%;
    font-size: 50px;
    margin-bottom: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.paragraph p{

    padding-bottom: 30px;
    font-weight: 30;
    font-family: monospace;


}

.paragraph button{
    padding: 15px 30px;
    cursor: pointer;
    background-color: #E55473;
    color: white;
}

.picture img{
    padding-top: 40px;
    height: 600px;
    width: 400px;
    
    
}
.picture{
    text-align: center;
}
/* ! first section style */

/* second section style*/
.container h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    text-align: center;
    
    
}
.heading p{
    margin-top: 10px;
    text-align: center;
    font-size: 1opx;
    
}

.item img{
    height: 200px;
    width: 150px;
    margin-top: 40px;
}

.item {
    float: left;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
}
.item-a{
    width: 30%;
    background-color: blanchedalmond;
    

}
.item-c{
 width: 30%;
 background-color: beige;
}

.item-b{
   
    width: 40%;
    background-color: aliceblue;
    
    
}
.item h6{
    text-decoration: underline;
}
/* second section style ens*/